#form-box-boundaries {
  height: 100%;
}

.tui-input {
  font-family: dejavu_monospace;
  font-size: var(--html_font_size);
  border: solid 2px;
  overflow: hide;
  outline: none;
  resize: horizontal;
  background-color: var(--background-color);
  color: var(--text-color);

  appearance: none;
  margin: 0;
  -webkite-appearance: none;
  -moz-appearance: textfield;
}

.tui-dropdown {
  font-family: dejavu_monospace;
  font-size: var(--html_font_size);
  border: solid 2px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.tui-input.underline {
  border: none;
  border-bottom: 2px solid;
}

.subbutton:focus::before {
  content: ">";
}

.subbutton:focus::after {
  content: "<";
}

.form-inline {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em 1em;
  align-items: center;
  width: 100%;
  max-width: 40rem;
}

.form-inline label {
  text-align: left;
  white-space: nowrap;
}

.form-inline input,
.form-inline select {
  width: 100%;
  box-sizing: border-box;
}
