{{ define "expenses" }}
<table>
  <tr>
    <th>ID</th>
    <th>Desc</th>
    <th>Price</th>
    <th>Date</th>
    <!-- <th>Store</th> -->
    <th>Category</th>
    <!-- <th>Owner</th> -->
  </tr>
  {{ range .expenses }}
  <tr>
    <th><a href="/expenses/{{ .Expense.ExpID }}">{{ .Expense.ExpID }}</th>
    <th spellcheck="false" contenteditable>{{ .Expense.Description }}</th>
    <th spellcheck="false" contenteditable>{{ formatPrice .Expense.Value }}</th>
    <th spellcheck="false" contenteditable>{{ formatDate .Expense.ExpDate }}</th>
    <th spellcheck="false">{{ .Category.CategoryName }}</th>
  </tr>
  {{ end }}
</table>
{{ end }}
