{{ define "expensePayments" }}
<button
  type="button"
  onclick="addPaymentRow()"
  >+ Payment</button>
<div id="operation-state" class="warning">&nbsp;</div><br>
<table id="payments-table">
  <tr>
    <th>ID</th>
    <th>USER</th>
    <th>PAYED</th>
  </tr>

  <!-- Data row to be copied -->
  <tr id="template-payment-row" style="display: none;">
    <td >
      <input name="payments-ids[]" disabled readonly
        value="" class="tui-input">
    </td>
    <td>
      <select name="payments-user-ids[]" disabled class="tui-dropdown">
        {{ range .users }}
        <option 
          {{ if eq .UserID $.expense.User.UserID }}selected{{ end }}
          value="{{ .UserID }}">{{ .UserName }}</option>
        {{ end }}
      </select>
    </td>

    <td>
      <input type="number" name="payments-payment[]" value="0" disabled class="tui-input">
    </td>

    <td class="row-delete-button">
      <button type="button" onclick="deleteShareRow(this)">X</button>
    </td>
  </tr>

  {{ range .payments }}
    {{ $payment := . }}
    <tr data-id="{{ $payment.ExpensesPayment.ExpPaymID }}">
      <td>
        <input name="payments-ids[]" readonly
          value="{{ $payment.ExpensesPayment.ExpPaymID }}" class="tui-input">
      </td>
      <td>
        <select name="payments-user-ids[]" class="tui-dropdown">
          {{ range $.users }}
          <option 
            value="{{ .UserID }}"
            {{ if eq .UserID $payment.User.UserID }}selected{{ end }}>
            {{ .UserName }}
          </option>
          {{ end }}
        </select>
      </td>
      <td>
        <input type="number" name="payments-payment[]" 
          value="{{ formatPrice $payment.ExpensesPayment.Payed }}" class="tui-input">
      </td>
      <td class="row-delete-button">
        <button
          type="button"
          class="delete-button"
          hx-delete="/payments/{{ $payment.ExpensesPayment.ExpPaymID }}"
          hx-target="closest tr">X</button>
      </td>
    </tr>
  {{ end }}
</table>
{{ end }}
