{{ define "expense" }}
<div>
  <form id="expense-form" action="submit">
    <div id="form-state" class="warning"></div>
    <fieldset id="form-box-boundaries">
      <legend>EXPENSE FORM</legend>
      <div class="form-container form-inline">
        {{ if eq .method "put" }}
        <label for="expense-desc">ID:</label>
        <input 
          readonly
          class="tui-input underline" type="text" name="expense-id" 
          value="{{ .expense.Expense.ExpID }}" id="expense-id">
        {{ end }}

        <label for="expense-desc">Description:</label>
        <input 
          class="tui-input underline" type="text" name="expense-desc" 
          value="{{ .expense.Expense.Description }}" id="expense-desc">

        <label for="expense-date">Date:</label>
        <input 
          class="tui-input underline" type="text" name="expense-date" 
          value="{{ formatDate .expense.Expense.ExpDate }}" id="expense-date">

        <label for="expense-value">Value:</label>
        <input 
          class="tui-input underline" type="text" name="expense-value" 
          value="{{ formatPrice .expense.Expense.Value }}" id="expense-value">

        <label for="newexp-type-dropdown">Type:</label>
        <select name="newexp-type-dropdown" id="newexp-type-dropdown" class="tui-dropdown">
          {{ range .types }}
          <option 
            {{ if eq .TypeID $.expense.ExpenseType.TypeID }}selected{{ end }}
            value="{{ .TypeID }}">{{ .TypeName }}</option>
          {{ end}}
        </select>

        <label for="newexp-cat-dropdown">Category:</label>
        <select name="newexp-cat-dropdown" id="newexp-cat-dropdown" class="tui-dropdown">
          {{ range .categories }}
          <option 
            {{ if eq .CategoryID $.expense.Category.CategoryID }}selected{{ end }}
            value="{{ .CategoryID }}">{{ .CategoryName }}</option>
          {{ end}}
        </select>

        <label for="newexp-store-dropdown">Store:</label>
        <select name="newexp-store-dropdown" id="newexp-store-dropdown" class="tui-dropdown">
          {{ range .stores }}
          <option 
            {{ if eq .StoreID $.expense.Store.StoreID }}selected{{ end }}
            value="{{ .StoreID }}">{{ .StoreName }}</option>
          {{ end}}
        </select>
      </div>
    </fieldset>

    <fieldset id="shares-table-fields">
      <legend>SHARES</legend>
      {{ template "expenseShares" . }}
    </fieldset>

    <fieldset>
      <legend>PAYMENTS</legend>
      {{ template "expensePayments" . }}
    </fieldset>

    <br>
    <button 
      class="subbutton"
      {{ if eq .method "put" }}
      hx-put="/expenses/{{ .expense.Expense.ExpID }}" 
      {{ end }}
      {{ if eq .method "post" }}
      hx-post="/expenses/new" 
      {{ end }}
      hx-swap="none"
      type="submit" 
      id="expense-submit-button">
      {{- if eq .method "put" }}UPDATE{{- end }}
      {{- if eq .method "post" }}CREATE{{- end }}</button>
    {{ if eq .method "put" }}
    <button
      onclick="confirmDelete(this)"
      type="button"
      class="delete-button"
      data-delete-url="/expenses/{{ .expense.Expense.ExpID }}"
      id="expense-delete-button">DELETE</button>
    {{ end }}
  </form>

  {{ template "deleteModal" }}

</div>

<script>
  function deleteShareRow(btn) {
    const row = btn.closest("tr");
    if (row) {
      row.remove();
    }
  }
</script>
{{ end }}
