<div>
  <form id="expense-form" action="submit">
    <fieldset id="form-box-boundaries">
      <legend>EXPENSE FORM</legend>
      <div class="form-container form-inline">
        <div id="form-state" class="warning"></div><br>

        <p>
          <label for="expense-desc">ID:</label>
          <input 
            readonly
            class="tui-input underline fullwidth" type="text" name="expense-id" 
            value="{{ .expense.ExpID }}" id="expense-id"><br>
        </p>

        <p>
          <label for="expense-desc">Description:</label>
          <input 
            class="tui-input underline fullwidth" type="text" name="expense-desc" 
            value="{{ .expense.Description }}" id="expense-desc"><br>
        </p>

        <p>
          <label for="expense-date">Date:</label>
          <input 
            class="tui-input underline fullwidth" type="text" name="expense-date" 
            value="{{ formatDate .expense.ExpDate }}" id="expense-date"><br>
        </p>

        <p>
          <label for="expense-value">Value:</label>
          <input 
            class="tui-input underline fullwidth" type="text" name="expense-value" 
            value="{{ .expense.Value }}" id="expense-value"><br>
        </p>

        <p>
          <label for="newexp-type-dropdown">Type:</label>
          <select name="newexp-type-dropdown" id="newexp-type-dropdown">
            {{ range .types }}
            <option 
              {{ if eq .TypeID $.expense.ExpType.TypeID }}selected{{ end }}
              value="{{ .TypeID }}">{{ .TypeName }}</option>
            {{ end}}
          </select>
        </p>

        <p>
          <label for="newexp-cat-dropdown">Category:</label>
          <select name="newexp-cat-dropdown" id="newexp-cat-dropdown">
            {{ range .categories }}
            <option 
              {{ if eq .CategoryID $.expense.ExpCategory.CategoryID }}selected{{ end }}
              value="{{ .CategoryID }}">{{ .CategoryName }}</option>
            {{ end}}
          </select>
        </p>

        <p>
          <label for="newexp-store-dropdown">Store:</label>
          <select name="newexp-store-dropdown" id="newexp-store-dropdown">
            {{ range .stores }}
            <option 
              {{ if eq .StoreID $.expense.ExpStore.StoreID }}selected{{ end }}
              value="{{ .StoreID }}">{{ .StoreName }}</option>
            {{ end}}
          </select>
        </p>
        <br><br>

        <button 
          class="subbutton"
          hx-put="/expenses/{{ .expense.ExpID }}" 
          hx-swap="none"
          type="submit" 
          id="expense-submit-button">UPDATE</button>
          <br>
      </div>
    </fieldset>
  </form>
</div>
outside
