{{ define "expenseShares" }}
<button
  type="button"
  onclick="addShareRow()"
  >+ Share</button>
<table id="shares-table">
  <tr>
    <th>ID</th>
    <th>USER</th>
    <th>SHARE</th>
  </tr>

  <!-- Data row to be copied -->
  <tr id="template-share-row" style="display: none;">
    <td>
      <input name="shares-ids[]" disabled readonly 
        value="" class="tui-input">
    </td>
    <td>
      <select name="shares-user-ids[]" disabled class="tui-dropdown">
        {{ range .users }}
        <option 
          {{ if eq .UserID $.expense.Owner.UserID }}selected{{ end }}
          value="{{ .UserID }}">{{ .UserName }}</option>
        {{ end }}
      </select>
    </td>
    <td>
      <input type="number" name="shares-percent[]" 
        value="1" disabled class="tui-input">
    </td>
    <td class="row-delete-button">
      <button type="button" onclick="deleteShareRow(this)">X</button>
    </td>
  </tr>

  {{ range .expense.Shares }}
    {{ $share := . }}
    <tr>
      <td>
        <input 
          name="shares-ids[]" readonly 
          value="{{ $share.ExpShareID }}" class="tui-input">
      </td>
      <td>
        <select name="shares-user-ids[]" class="tui-dropdown">
          {{ range $.users }}
          <option 
            value="{{ .UserID }}"
            {{ if eq .UserID $share.User.UserID }}selected{{ end }}>
            {{ .UserName }}
          </option>
          {{ end }}
        </select>
      </td>
      <td>
        <input type="number" name="shares-percent[]" 
          value="{{ $share.Share }}" class="tui-input">
      </td>
      <td class="row-delete-button">
        <button
          type="button"
          class="delete-button"
          hx-delete="/shares/{{ $share.ExpShareID }}"
          hx-on="htmx:afterRequest: this.closest('tr').remove()"
          hx-target="closest tr">X</button>
      </td>
    </tr>
  {{ end }}
</table>
{{ end }}
