<div>
  <form id="expense-form" action="submit">
    <fieldset id="form-box-boundaries">
      <legend>EXPENSE FORM</legend>
      <div class="form-container form-inline">
        <div id="form-state" class="warning"></div><br>

        <p>
          <label for="expense-desc">Description:</label>
          <input 
            class="tui-input underline fullwidth" type="text" name="expense-desc" 
            id="expense-desc"><br>
        </p>

        <p>
          <label for="expense-date">Date:</label>
          <input 
            class="tui-input underline fullwidth" type="text" name="expense-date" 
            id="expense-date"><br>
        </p>

        <p>
          <label for="expense-value">Value:</label>
          <input 
            class="tui-input underline fullwidth" type="text" name="expense-value" 
            id="expense-value"><br>
        </p>

        <p>
          <label for="newexp-type-dropdown">Type:</label>
          <select name="newexp-type-dropdown" id="newexp-type-dropdown">
            {{ range .types }}
            <option value="{{ .TypeID}}">{{ .TypeName }}</option>
            {{ end}}
          </select>
        </p>

        <p>
          <label for="newexp-cat-dropdown">Category:</label>
          <select name="newexp-cat-dropdown" id="newexp-cat-dropdown">
            {{ range .categories }}
            <option value="{{ .CategoryID}}">{{ .CategoryName }}</option>
            {{ end}}
          </select>
        </p>

        <p>
          <label for="newexp-store-dropdown">Store:</label>
          <select name="newexp-store-dropdown" id="newexp-store-dropdown">
            {{ range .stores }}
            <option value="{{ .StoreID}}">{{ .StoreName }}</option>
            {{ end}}
          </select>
        </p>
        <br><br>

        <button 
          class="subbutton"
          hx-post="/expenses/new" 
          hx-swap="none"
          type="submit" 
          id="expense-submit-button">CREATE</button>
          <br>
      </div>
    </fieldset>
  </form>
</div>

<script>
  document.body.addEventListener("formState", function(evt) {
    var messageDiv = document.getElementById("form-state")
    messageDiv.innerHTML = evt.detail.value

    setTimeout(() => {
      messageDiv.innerHTML = ""
    }, 3000);
  });

  // Add the spinner
  var btn = document.getElementById("expense-submit-button");
  btn.addEventListener('htmx:beforeRequest', function (evt) {
    btn.classList.add("loading");
    spinner(btn)
  });

  btn.addEventListener('htmx:afterRequest', function (evt) {
    btn.classList.remove("loading");
  });
</script>

