{{ range .expenses }}
<table>
  <tr>
    <th>ID</th>
    <th>Desc</th>
    <th>Value</th>
  </tr>
  <tr>
    <td><a href="/expenses/{{ .Exp.ExpID }}">{{ .Exp.ExpID }}</td>
    <td spellcheck="false" contenteditable>{{ .Exp.Description }}</td>
    <td spellcheck="false" contenteditable>{{ formatPrice .Exp.Value }}</td>
  </tr>
</table>
<table>
  <tr>
    <th>User</th>
    <th>Sum</th>
  </tr> 
  {{ range .Debtors }}
  <tr>
    <td>{{ .Debtor.UserName }}</td>
    <td>{{ formatPrice .Sum }}</td>
  </tr>
  {{ end }}
</table>
<hr>
{{ end }}
<br>

<p>User Debt Summary:</p>
<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>OWES</th>
  </tr>
  {{ range $user, $value := .summary }}
  <tr>
    <td>{{ $user.UserID }}</td>
    <td>{{ $user.UserName }}</td>
    <td>{{ $value }}</td>
  </tr>
  {{ end }}
</table>
