{{ define "overview" }}
<form
  hx-get="/overview/ranged" 
  hx-target="#query-results"
  hx-swap="innerHTML"
  >
  <p>
    <label for="range-start">Start date:</label>
    <input 
      class="tui-input underline fullwidth" type="text" name="range-start" 
      value="" id="expense-date"><br>
  </p>

  <p>
    <label for="range-end">End date:</label>
    <input 
      class="tui-input underline fullwidth" type="text" name="range-end" 
      value="" id="expense-date"><br>
  </p>

  <button type="submit" id="expenses">QUERY</button>
</form>
<br>

<div id="query-results">
</div>
{{ end }}
