{{ define "overviewResults" }}
{{ range .expenses }}
  {{ $exp := . }}
  <table>
    <tr>
      <th>ID</th>
      <th>Desc</th>
      <th>Value</th>
    </tr>
    <tr>
      <td><a href="/expenses/{{ $exp.ExpID }}">{{ $exp.ExpID }}</td>
      <td spellcheck="false" contenteditable>{{ $exp.Description }}</td>
      <td spellcheck="false" contenteditable>{{ formatPrice $exp.Value }}</td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Debtor</th>
      <th>Creditor</th>
      <th>Sum</th>
    </tr> 
    {{ range $exp.Debts }}
      {{ $debt := . }}
      <tr>
        <td>{{ $debt.Debtor.UserName }}</td>
        <td>{{ $debt.Creditor.UserName }}</td>
        <td>{{ formatPrice $debt.Sum }}</td>
      </tr>
    {{ end }}
  </table>
  <hr>
  {{ end }}
  <br>
  
  <p>User Debt Summary:</p>
  <table>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>OWES</th>
    </tr>
    {{ range $user, $value := .summary }}
    <tr>
      <td>{{ $user.UserID }}</td>
      <td>{{ $user.UserName }}</td>
      <td>{{ $value }}</td>
    </tr>
    {{ end }}
  </table>
{{ end }}
