{{ define "terminal" }}
<!DOCTYPE html>
<html>
  <head>
    <title>Eduardo Silva</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/img/favicon.webp" rel="icon">
    <link content="text/css" href="/assets/css/aesthetic.css" rel="stylesheet">
    <script content="text/javascript" defer="" src="/assets/js/htmx.min.js"></script>
    <script content="text/javascript" defer="" src="/assets/js/pager.js"></script>
    <script content="text/javascript" defer="" src="/assets/js/forms.js"></script>
    <script content="text/javascript" defer="" src="/assets/js/modals.js"></script>
  </head>
  <body>

    <div id="container">

      <div class="scanline"></div>

      <fieldset class="main-container neon-text {{ if .warning }}warning{{ end }}">
        <legend id="home-button"
          class="neon-text {{ if .warning }}warning{{ end }}">
          <a class="text-color" href="/">EXPENSES</a>
        </legend>
        <div id="main-container-content" class="main-container-content">
          {{ if .renderNavBar }}
          <nav id="page-navigation">
            <button 
              hx-post="/expenses" 
              hx-target="#content"
              hx-target-5*="#doc"
              hx-swap="innerHTML"
              hx-replace-url="true"
              id="expenses"
              class="nav-button {{ if eq .page "expenses" }}selected{{ end }}">EXPENSES</button>
            <button 
              hx-post="/overview" 
              hx-target="#content"
              hx-swap="innerHTML"
              hx-replace-url="true"
              id="overview"
              class="nav-button {{ if eq .page "overview" }}selected{{ end }}">OVERVIEW</button>
          </nav>
          <br>
          {{ end }}

          <main id="content">
            {{ if eq .content "expense" }}
              {{ template "expense" . }}
            {{ else if eq .content "expenses" }}
              {{ template "expenses" . }}
            {{ else if eq .content "newExpense" }}
              {{ template "expense" . }}
            {{ else if eq .content "panic" }}
              {{ template "panic" . }}
            {{ else if eq .content "categories" }}
              {{ template "categories" . }}
            {{ else if eq .content "category" }}
              {{ template "category" . }}
            {{ else if eq .content "overview" }}
              {{ template "overview" . }}
            {{ else if eq .content "stores" }}
              {{ template "stores" . }}
            {{ else if eq .content "store" }}
              {{ template "store" . }}
            {{ else if eq .content "types" }}
              {{ template "types" . }}
            {{ else if eq .content "type" }}
              {{ template "type" . }}
            {{ else }}
              <div>Unknown page</div>
            {{ end }}
          </main> 

        </div>
      </fieldset>

    </div>

  </body>
</html>
{{ end }}
